:root {
    --primary: var( --e-global-color-astglobalcolor1 );
    --primary-h: #333333b3;
    --text: var( --e-global-color-astglobalcolor1 );

    --bg: var( --e-global-color-astglobalcolor4 );

}

